main{
    display: flex;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image:url("https://i.pinimg.com/originals/fb/a7/08/fba708dba2bb1c901ebb512a1bacb183.jpg");
 } 
 .titolo{
    color: white;
 }
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .listLink{
    display: flex;
 }
 .link{
    margin-right: 50px;
 }
 header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://cdn.pixabay.com/photo/2024/05/22/01/46/room-8779510_1280.png");
 }
 li{
    margin: auto;
    border-bottom: 0.5px solid blue;
 }
 li:hover{
    border-bottom:3px solid violet;
 }
img{
    width:100vw;
    height:50ovw;
}
.figure{
    width: 300px;
}
.sectionArticle{
    text-align: center;
    display: flex;
    width: 60%;
}
.bottone{
    position: absolute;
    margin-left: 90%;
    padding: auto;
    width: 50px;
    height: 50px;
}
h2{
    color: rgb(17, 36, 154);
}
p{
    background-color: coral;
}
aside{
    background-color:khaki;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.paragrafo{
    font-family:"Roboto Condensed", sans-serif;
    background-color: chartreuse;
}
.paragrafo:hover{
    background-color: gold;
}
#logo{
    width: 5%;
    height: 5%;
}
